

#precip5day {
    font-size: 0.5em;
}

#precipValue {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: left;
    color: #fff;
    font-size: 2.5em;
}



#weather{
  font-family: 'Montserrat', sans-serif;
  font-weight: 150;
  font-size: 1.0em;
  color: #fff;
  /*text-shadow: .1em .1em 0 rgba(0,0,0,0.3);*/
  height: 80px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 90px;
  z-index: 1000000;


  justify-content: center;
  background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}

body {

}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: left;
    color: #fff;
    font-size: 5em;
}
#weather.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
#weather.body.cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}
#weather.body.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}

/*
html,
body,

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
  .panel-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .panel-side {
    padding: 2px;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 60;
  }

  .panel-side h3 {
    padding: 0 20px;
    margin: 20px 0;
  }

  .panel-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .panel-side li {
    list-style: none;
    padding: 10px 20px;
  }

  .panel-result {
    cursor: pointer;
    margin: 2px 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .panel-result:hover,
  .panel-result:focus {
    color: orange;
    background-color: rgba(0, 0, 0, 0.75);
  }
*/
