

#precip5day {
    font-size: .9em;
}

#precipValue {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

.container{
  font-family: 'Montserrat', sans-serif;
  font-weight: 150;
  font-size: 0.85em;
  text-align: center;
  color: #fff;
  /*text-shadow: .1em .1em 0 rgba(0,0,0,0.3);*/
  border-radius: 25px;

  max-width: 160px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 75px;
  z-index: 10;
  justify-content: center;
  background-image: linear-gradient(to right top, #99bbcb, #a5c7d7, #b1d4e2, #bde0ee, #c9edfa);
}

body {

}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: cetner;
    color: #fff;
    font-size: 5em;
}
.container.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
}
.container.cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
}
.container.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
}
/*
.collapsible {
  z-index: 11;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 75px;
  z-index: 10;
  font-size: 15px;
}

.active, .collapsible:hover {
  z-index: 11;
  background-color: #ccc;
}


.content {
  z-index: 11;
  padding: 0 18px;
  display: none;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  background-color: #f1f1f1;
}
*/
